body {
    font-family: comic 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: whitesmoke;
}
h1, h2, h3 {
    font-family: 'Comic Sans MS', Georgia, 'Times New Roman', Times, serif !important;
}
a:hover {
    color: purple !important;
}